
body{
    min-height: 100vh;
    background: linear-gradient(134deg, rgb(138, 115, 115), rgb(61, 19, 19) );
}
.navbar {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}
.container {
    background-color: rgb(158, 172, 172);
    width: 80%;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}
.container input{
    width: 40%;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.container button{
    width: 40%;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.container button:hover{
    background-color: #555;
}
